## string format

In [7]:
print("String to be printed")

String to be printed

In [11]:
amount = 100
money = "rupees"
# %1.2f = before decimal minimum number, 
# after decimal max number of digits after decimal
print("Total is %1.2f %s" %(amount, money))

Total is 100.00 rupees

In [24]:
print("First %s, Second %s, Third %.2f" % (1,'two', 3))

First 1, Second two, Third 3.00

can not add a value after variable, it will throw an error
value will be printed as given variable or given index value

In [42]:
print("First {x}, and second {2}, third {1}".format(2,'abc',3, x='x'))
# can not add a value after variable, it will throw an error
# value will be printed as given variable or given index value

First x, and second 3, third abc

## lists

In [67]:
my_list = ['one', 'two', 3]    #indexing starts at 0
my_list.append(3.14)

In [55]:
print(my_list)
len(my_list)

['one', 'two', 3, 3.14]

4

In [65]:
print(my_list[2:])    # will print from 3rd (including) to last element
print(my_list[:2])    # will print from start to 3rd element (excluding)
print(my_list[1:-1])     # -1 is last element of list, -2 is second last & so om

[3, 3.14]
['one', 'two']
['two', 3]

In [68]:
my_list.pop()    #pops last element, can also give an index

3.14

In [76]:
alpha = ['q', 'w', 'e', 'r', 't', 'y']
alpha

['q', 'w', 'e', 'r', 't', 'y']

In [81]:
alpha.reverse()    # reverse the order
print(alpha)
alpha.sort()      # sort in ascending order
print(alpha)

['y', 'w', 't', 'r', 'q', 'e']
['e', 'q', 'r', 't', 'w', 'y']

In [83]:
first_list = ['q', 'w', 'e', 'r', 't', 'y']
second_list = ['a', 'b', 'c']
third_list = ['c', 'v', 'x']

In [92]:
list_all = [first_list, second_list, third_list]     #nesting of lists
print(list_all)
print(list_all[0][1])
print(list_all[2][1])

[['q', 'w', 'e', 'r', 't', 'y'], ['a', 'b', 'c'], ['c', 'v', 'x']]
w
v

In [91]:
first_col = [a[0] for a in list_all]
first_col    #for every element in object, grab element[0]

['q', 'a', 'c']

# Dictionaries

##### no indexing in dicationaries, it is MAPPING based

In [1]:
my_dict = {'key1' : 'value1', 'key2': 2, 'key3' : '3rd value'}

In [5]:
my_dict['key2']

2

In [27]:
my_dict.items()     # returns all the items, no order retained

dict_items([('key2', 302), ('key3', '3rd value'), ('key1', 'value1')])

In [28]:
my_dict.keys()    # returns all the keys in no-order

dict_keys(['key2', 'key3', 'key1'])

In [26]:
my_dict.values()    # returns all the values, no-order

dict_values([302, '3rd value', 'value1'])

In [15]:
my_dict['key2'] += 100
my_dict['key2']

302

In [17]:
empty_dict = {}
empty_dict['k1'] = 'dog'
empty_dict['k2'] = 'cat'
print(empty_dict)

{'k2': 'cat', 'k1': 'dog'}

In [21]:
nest_dict = {'k1' : {'nk1' : {'snk1' : 'finally'}}}
print(nest_dict)
print(nest_dict['k1']['nk1']['snk1'])

{'k1': {'nk1': {'snk1': 'finally'}}}
finally

# Tuples

In [46]:
t = (1,2,3,1,4,9,2,1,3, 'four')
print(len(t))

10

In [33]:
t[1:3]

(2, 3)

In [45]:
t[-1]    #indexing starts from 0, and last element is -1

'four'

In [44]:
t.index('four')

9

In [43]:
t.index(2)    # parse the tuple and get index of first found value

1

In [42]:
t.count(1)

3

In [51]:
print(t[1])
# t[2] = 9    # this will throw an error as tupes are immutable
# values of tuples can not be changed

2